@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Charm:wght@700&display=swap');
.tipos {
    font-family: 'Charm', cursive;
    font-size: 50px;
    text-align: center;
}

.big-container {
    font-family: ' Comic Sans MS', cursive;
}

.big-container {
    padding: 20px;
}