
  

 .oculto {
  visibility: hidden;
}


   
.card-body:hover .tip{
   
  height: 68%;
  background:#19161a7c;
  color: #fff;
  position: absolute;
  width: 90%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
  text-align: left;
  visibility: visible;


 }

 .card-body:hover .tip .oculto{
   visibility: visible;
 }
